/*----------- 
    Reset 
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*----------- 
    Common 
-------------*/
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.flex{
    display: flex;
}
/*----------- 
     Nav 
-------------*/
.nav {
  background-color: black;
  width: 14.375rem;
  height: calc(100% - 5.625rem);
  color: #fff;
  padding: 1.25rem;
  justify-content: space-between;
  flex-direction: column;
}

.logobig{
    width: 75%;
    padding-bottom: 1.25rem;
}

.logosmall{
    display: none;
    width: 1.875rem;
    margin: -0.625rem;
    margin-bottom: .625rem;
}

.flex .fa{
    padding: 0 .625rem .9375rem 0;
    font-size: 1.25rem;
    color: #717171;
}

.playlist h4{
    padding: 1.25rem 0;
}

.crea{
    padding: 1.25rem 0;
}

ul li{
    list-style-type: none;
    padding: .625rem 0;
    color: #717171;
}

.arrow, .omino{
    padding-right: .625rem;
}

.nav-bottom .flex:first-child{
    padding-bottom: .625rem;
    color: #717171;
}

.nav-bottom .flex:last-child{
    padding-top: .625rem;
}

.name{
    color: #717171;
}


@media screen and (max-width:552px) {
    .nav{
        width: 3.125rem;
    }
    .logosmall{
        display: block;
    }

    .logobig{
        display: none;
    }

    .playlist{
        display: none;
    }

    .none{
        display: none;
    }

}
/*----------- 
    Main 
-------------*/
.main {
  flex-grow: 1;
  height: 100%;
  background-color: #141922;
  position: relative;
  color: #fff;
}

.trasparent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 5.625rem;
  padding: 1.25rem;
  justify-content: right;
}

.right-btn {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    border-radius: 1.25rem;
    float: left;
    padding: .625rem 2.25rem;
}

.right-btn a{
    text-decoration: none;
    color: white;
}
  
  
/*----------- 
    Footer 
-------------*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: #282828;
    width: 100%;
    height: 5.625rem;
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
}

.left {
    width: 5rem;
    text-align: center;
  }
  
  .left img {
    width: 3.75rem;
    height: 3.75rem;
  }
  
  .center {
    flex: 1;
    text-align: center;
    margin: 0 1.25rem;
  }
  
  .right {
    width: 9.375rem;
    text-align: center;
  }
  
  .progress-bar {
    width: 50%;
    height: .3125rem;
    background-color: #ddd;
    border-radius: .3125rem;
    margin: 0 auto;
  }
  
  .controls {
    display: flex;
    justify-content: center;
  }
  
  .play,
  .repeat,
  .shuffle,
  .forward,
  .backward {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: .9375rem;
    background-color: #282828;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0 1.25rem 2.5rem 1.25rem;
    font-size: 1.25rem;
  }

  .bars,
  .desktop,
  .volume{
    border-radius: .9375rem;
    background-color: #282828;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0 1.25rem 0 0;

}
  
  .volume-bar {
    width: 50%;
    height: .3125rem;
    background-color: #ddd;
    border-radius: .3125rem;
    margin: 0 auto;
  }
  
  .volume-controls {
    display: flex;
    justify-content: center;
    align-content: center;
  }