/*----------- 
    Reset 
-------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*----------- 
    Common 
-------------*/
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
}

.flex {
  display: flex;
}

img {
  width: 100%;
}

.link-style {
  text-decoration: none;
  color: #717171;
}

.main-big {
  padding: .9375rem;
  padding-top: 5.625rem;
}

.link-style:hover {
  color: #fff;
}

.lista:hover {
  color: #fff;
  border-bottom: .0625rem solid greenyellow;
}

.right-btn:hover {
  scale: 1.1;
  transition: 1.2s;
}

/*----------- 
     Nav 
-------------*/
.nav {
  background-color: black;
  width: 14.375rem;
  height: calc(100% - 5.625rem);
  color: #fff;
  padding: 1.25rem;
  justify-content: space-between;
  flex-direction: column;
}

.logobig {
  width: 75%;
  padding-bottom: 1.25rem;
}

.logosmall {
  display: none;
  width: 1.875rem;
  margin: -0.625rem;
  margin-bottom: .625rem;
}

.flex .fa {
  padding: 0 .625rem .9375rem 0;
  font-size: 1.25rem;
}

.playlist h4 {
  padding: 1.25rem 0;
}

.crea {
  padding: 1.25rem 0;
}

.plus {
  background-color: gray;
  color: black;
  padding: 0.5rem;
}


ul li {
  list-style-type: none;
  padding: .625rem 0;
}

.arrow,
.omino {
  padding-right: .625rem;
}

.nav-bottom .flex:first-child {
  padding-bottom: .625rem;
  color: #717171;
}

.nav-bottom .flex:last-child {
  padding-top: .625rem;
}

.name {
  color: #717171;
}


@media screen and (max-width:552px) {
  .nav {
    width: 3.125rem;
  }

  .logosmall {
    display: block;
  }

  .logobig {
    display: none;
  }

  .playlist {
    display: none;
  }

  .none {
    display: none;
  }

  .hamburger {
    margin-left: -0.3125rem;
  }
}

/*----------- 
  Trasparent
-------------*/
.main {
  height: calc(100% - 5.625rem);
  width: calc(100% - 14.375rem);
  background-color: #141922;
  color: #fff;
  flex-grow: 1;
  overflow: auto;

}

.trasparent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 5.625rem;
  padding: 1.25rem;
  justify-content: right;
  position: fixed;
  top: 0;
  right: 0;
}

.right-btn {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  border-radius: 1.25rem;
  float: left;
  padding: .625rem 2.25rem;
}

.right-btn a {
  text-decoration: none;
  color: white;
}

/*----------- 
    Main 
-------------*/

.container-list-main {
  width: 100%;
  padding: .9375rem;
}

.scelte {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lista {
  font-size: .625rem;
  text-decoration: none;
  color: #717171;
  margin: 0 .625rem;
}

.container-albums {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.choise {
  width: calc(100%/ 6);
}

.download {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.locandina:hover .download {
  display: block;
  font-size: 2.5rem;
  color: #ddd;
}

.locandina {
  padding: 1.875rem .625rem 1.25rem 0;
  position: relative;

}

.information {
  text-align: center;
}

.information h4 {
  padding-bottom: .625rem;
}

.information h6,
.main-big h6 {
  color: #717171;
}

.main-big h2 {
  padding-bottom: 1.25rem;
  padding-top: 2.5rem;

}

.cerchio {
  border-radius: 50%;
}

@media screen and (max-width:878px) {

  .choise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100%/ 4);
  }
}

@media screen and (max-width:640px) {

  .choise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100%/ 2);
  }
}

@media screen and (max-width:552px) {
  .trasparent {
    width: calc(100% - 3.125rem);
  }
}


/*----------- 
    Footer 
-------------*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282828;
  width: 100%;
  height: 5.625rem;
  padding: 1.25rem;
  color: #fff;
}

.left {
  width: 25%;
  justify-content: left;
  align-items: center;
}

.left img {
  width: 3.75rem;
  height: 3.75rem;
}

.info-album {
  padding-left: .625rem;
  padding-right: 1.25rem;
}

.center {
  flex: 1;
  text-align: center;
  margin: 0 1.25rem;
}

.right {
  width: 25%;
  text-align: center;
  justify-content: right;
}

.progress-bar {
  width: 75%;
  height: .3125rem;
  background-color: #ddd;
  border-radius: .3125rem;
  margin: auto 0;
  position: relative;
}

.progress-bar-light{
  width: 75%;
  height: .3125rem;
  background-color: grey;
  border-radius: .3125rem;
  margin: auto 0;
  position: absolute;
  top: 0;
  left: 0;

}

.time-display {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  padding-bottom: 1.25rem;
}

.elapsed-time,
.total-time {
  padding: 0 1.25rem;
}

.controls {
  display: flex;
  justify-content: center;
  padding-bottom: .625rem;
}

.heart {
  padding-right: .9375rem;
}

.play {
  padding: 0 1.25rem;
}

.play i {
  font-size: 1.875rem;
}

.backward {
  padding-left: .625rem;
}

.forward {
  padding-right: .625rem;
}

.play,
.repeat,
.shuffle,
.forward,
.backward {
  background-color: #282828;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
}

.bars,
.desktop,
.volume {
  background-color: #282828;
  border: none;
  cursor: pointer;
  color: white;
  padding: 0 1.25rem 0 0;
}

.heart,
.folder {
  background-color: #282828;
  border: none;
  cursor: pointer;
  color: #717171;
}

.volume-bar {
  min-width: 50%;
  height: .3125rem;
  background-color: #ddd;
  border-radius: .3125rem;
  margin: auto 0;
}

.volume-controls {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width:640px) {

  .select-info {
    flex-wrap: wrap;
  }

  .bars,
  .desktop,
  .volume {
    padding: 0 .625rem 0 0;
  }

  .elapsed-time,
  .total-time {
    padding: 0 .625rem;
  }

}

@media screen and (max-width:552px) {

  .info-album .flex {
    flex-wrap: wrap;
  }

  .info-album {
    padding-right: .625rem;
  }

}